<div
  data-poster-url="https://uploads-ssl.webflow.com/5e561af324830b58df09ecf1/5e561c050aff9dc7d7f36c33_Pexels Videos 4703-poster-00001.jpg"
  data-video-urls="https://uploads-ssl.webflow.com/5e561af324830b58df09ecf1/5e561c050aff9dc7d7f36c33_Pexels Videos 4703-transcode.mp4,https://uploads-ssl.webflow.com/5e561af324830b58df09ecf1/5e561c050aff9dc7d7f36c33_Pexels Videos 4703-transcode.webm"
  data-autoplay="true" data-loop="true" data-wf-ignore="true"
  class="background-video w-background-video w-background-video-atom">
  <video autoplay="" loop=""
         style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e561af324830b58df09ecf1/5e561c050aff9dc7d7f36c33_Pexels Videos 4703-poster-00001.jpg&quot;)"
         muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
    <source
      src="https://uploads-ssl.webflow.com/5e561af324830b58df09ecf1/5e561c050aff9dc7d7f36c33_Pexels Videos 4703-transcode.mp4"
      data-wf-ignore="true"/>
    <source
      src="https://uploads-ssl.webflow.com/5e561af324830b58df09ecf1/5e561c050aff9dc7d7f36c33_Pexels Videos 4703-transcode.webm"
      data-wf-ignore="true"/>
  </video>
  <div class="section">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
      <div class="w-container">
        <a href="#" class="w-nav-brand"></a>
        <app-menu></app-menu>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <router-outlet></router-outlet>
  </div>
  <div>
    <div>Óbudai Egyetem(HTML5+, Java Microservice Project), Készült a 4DSoft támogatásával</div>
  </div>
</div>
