<nav role="navigation" class="w-nav-menu" *ngIf="!auth.data">
  <a routerLink="/" class="nav-link w-nav-link">Főoldal</a>
  <a routerLink="/about" class="nav-link w-nav-link">Játékról</a>
  <a routerLink="login" class="nav-link w-nav-link">Bejelentkezés</a>
</nav>


<nav role="navigation" class="w-nav-menu" *ngIf="auth.data">

  <button mat-button [matMenuTriggerFor]="aboveMenu">Hősök</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="/hero/new">Új</button>
    <button mat-menu-item routerLink="/hero/list">Lista</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Birodalom</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Új</button>
    <button mat-menu-item>Lista</button>
    <button mat-menu-item>Védekezés</button>
    <button mat-menu-item>Támadás</button>
  </mat-menu>

</nav>
