<section style="width: 100%">
  <h1>Hősök</h1>
  <div class="rowflex">
    <mat-card style="width: 200px !important; height: 100px; margin:10px !important" *ngFor="let hero of heroes">
      <mat-card-header>
        <mat-card-title>
          <span class="cursorPointer" (click)="openHeroInfoDialog(hero)">{{hero.name}}</span>
        </mat-card-title>
        <mat-card-subtitle>{{hero.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="hero.hybrid && hero.hybrid.length>0 && hero.hybrid[0].species">
        <div *ngFor="let hybrid of hero.hybrid">
          <span>{{hybrid.percent}}%</span>
          <span>{{hybrid.species.name}}</span>
        </div>
      </mat-card-content>
      <mat-card-footer style="text-align: right">
        <mat-icon style="cursor: pointer" (click)="openAttackDialog(hero)">star</mat-icon>
        <mat-icon style="cursor: pointer" (click)="onDelete(hero)">delete</mat-icon>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
